@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

    
:root { --cor0:#771CD8;
    --cor1: #9D60DF;
    --cor2:#5B16A6;
    --cor3:#88DCE0;

    --fonte-padrao:Arial, Verdana,Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue',cursive;
    font-weight: normal;
}

*{
    margin: 0px;
    padding: 0px;

}
body{
    background-color: white;
    font-family: var(--fonte-padrao);
}
 main p{
    margin: 15px 0px;
 text-align: center;
  font-size: 1em;
 line-height: 2em;
}


main {
    background-color: white;
    
    color: black;
    max-width: 900px;
    min-width: 300px;
    margin: auto;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;


}

header > h1 { min-height: 50px;
    text-align: center;
    color: white;
font-family: var(--fonte-padrao);

}
header > h2 {
    color: white;
    font-size: var(--fonte-padrao);
    text-align: center;
}
 main img {
     width: 100%;
     
 }
 main img.pequena {
     width: 40%;
 }
    body {
        background-color: white ;
        font-family: var(--fonte-padrao);
    }
      
    header { min-height: 150px;
        text-align: center;
        background-color: var(--cor0);
        padding-left: 100px;
        color: white;
        padding-top: 60px;
        font-size: 1.0em;

    }
    main img.baixa {
        max-width: 700px;
    }
     main h2 {

         background-image:radial-gradient(to right,var(--cor3) transparent); }
    

    
    main img.small {
        margin-left: 600px;
        max-width: 250px;
        background-color: var(--cor2);

    }
    nav{ text-align: center;
        background-color: var(--cor3);
        padding: 10px;

    }
    nav > a { color: white;
        background-color: var(--cor1);
        text-decoration: none;
    
        font-weight: bold; 
        text-align: center;

    }
    
    
    header  p { 
        text-align: left;
        max-width: 600px;
        color: white;
        font-size: 1.2em;
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    footer {
        background-color: white;
        color: black;
        text-align: center;
    }
    main h1 {
        color: white;
    }

    aside {
        background-color: var(--cor0);
        border-radius: 10px;
    }
    aside > h2 {
        background-color: var(--cor3);
    }